.basic-wrapper {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
}

.main-header {
  display: flex;
  align-items: flex-start;
  background: #e5f5fb;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2rem 1rem;
  position: relative;
  gap: 1rem;
}